body {background-color:white; 
  font-family: arial;}
h1{color:gray;
text-align: center;
   font-family: arial;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.vert {
  height: auto;
}
#example1 
{ 
  border: 1px solid black;
  border-radius: 25px; 
}
#line1n
{
  background-color: yellow;
}
#line2n
{
  background-color: yellow;
}
#line3n
{
  background-color: yellow;
}
#line4n
{
  background-color: yellow;
}

